.sideNav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 15px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sideNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 190px; /* Same as the width of the sideNav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }
  .sideNav a {
    font-size: 18px;
  }
}
